
#footer-section {
    background-color: #3F3F3F;
    width: 100vw;
    min-height: 300px;
    padding: 20px 50px 20px 20px;

    position: relative;
    box-shadow: 0px 5px 10px #000000ce inset;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

#footer-section .links-section {
    /* background-color: cyan; */
    /* flex-basis: 70%; */
    flex-grow: 1;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#footer-section .links-section .link-type-list {
    display: flex;

    width: 200px;
    flex-direction: column;
    gap: 10px;
}

#footer-section .links-section .link-type-list h3 {
    font-size: 25px;
}

#footer-section .links-section .link-type-list .link-content{
    transform: translateX(20px);
}

#footer-section .links-section .link-type-list .link-content li{
    margin-bottom: 5px;
}
#footer-section .links-section .link-type-list .link-content li a {
    text-decoration: none;
    color: #fff;
}
#footer-section .links-section .link-type-list .link-content li a:hover {
    text-decoration: underline;

    animation: slidingUnderline 2s infinite ease-in-out;
}

/* ---------------------- Extra Information ------------------------- */

#footer-section .extra-info-section {
    /* background-color: rgba(196, 252, 112, 0.705); */
    /* flex-basis: 30%; */

    display: flex;
    flex-direction: column;
    gap: 30px;
}

#footer-section .extra-info-section h3 {
    font-size: 15px;
}

#footer-section .extra-info-section .extra-info {
    max-width: 200px;
    margin-top: 10px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

/* ---------------------- Payment Methods ------------------------- */


#footer-section .extra-info-section .payment-methods span {
    width: fit-content;
}

#footer-section .extra-info-section .payment-methods span img{
    width: 50px;
}

/* ---------------------- Social Media ------------------------- */

#footer-section .extra-info-section .social-media a{
    width: 40px;
    height: 40px;
    padding: 5px;
    background-color: #ffffff8f;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-section .extra-info-section .social-media a:hover {
    box-shadow: 0px 0px 5px #fff;
}

#footer-section .extra-info-section .social-media a:hover img {
    animation: pulsingImg ease-in-out 2s infinite ;
}

#footer-section .extra-info-section .social-media a img{
    width: 20px;
}

/* ---------------------- Signature ------------------------- */

#footer-section .owner-signature {
    color: #fff;
    
    position: absolute;
    bottom: 0;
    right: 3%;
}

/* ---------------------- Animations ------------------------- */

@keyframes pulsingImg {
    1% {
        scale: 1;
    }
    
    50% {
        scale: 1.5;
    }

    100% {
        scale: 1;
    }
}

@keyframes slidingUnderline {
    1% {
        text-underline-offset: 0;
    }
    50% {
        text-underline-offset: 30%;
    }
    100% {
        text-underline-offset: 0;
    }
}