/* #footer-section {
    background-color: #3F3F3F;
    width: 100vw;
    min-height: 300px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}  

#footer-section .links-section {

    list-style: none;
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    transform: translateY(-50px);
}

#footer-section .links-section .link-type-list {
    transform: translate(-90px, 40px);
}

#footer-section .links-section li h3 {
    font-size: 25px;

    margin-bottom: 15px;
    transform: translateX(-20px);
}

#footer-section .links-section li .link-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#footer-section .links-section li .link-content a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

#footer-section .links-section li .link-content a:hover {
    text-decoration: underline;
}

#footer-section .extra-info-section {
    background-color: rgb(66, 255, 145);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 20px;
}

#footer-section .extra-info-section h3 {
    font-size: 15px;
    align-self: flex-start;
    transform: translateY(10px);
}

#footer-section .extra-info-section .payment-methods {
    max-width: 230px;
    height: fit-content;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}

#footer-section .extra-info-section .payment-methods span {
    width: fit-content;
}

#footer-section .extra-info-section .payment-methods span img{
    width: 50px;
}

#footer-section .extra-info-section .social-media {
    width: 100%;
    padding-left: 20px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

#footer-section .extra-info-section .social-media a {
    background-color: #ffffff60;
    width: 35px;
    height: 35px;
    padding: 5px;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-section .extra-info-section .social-media a:hover {
    box-shadow: 0px 0px 3px #fff;
}

#footer-section .extra-info-section .social-media a img{
    width: 20px;    
}


#footer-section .owner-signature {
    color: #fff;
    margin-top: 10px;
    align-self: flex-end;
    transform: translateX(15px);
} */

#footer-section {
    background-color: #3F3F3F;
    width: 100vw;
    min-height: 250px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

                #footer-section img{
                    width:30px;
                }

#footer-section .links-section {
    /* background-color: cyan; */
    /* flex-basis: 70%; */
    flex-grow: 1;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#footer-section .links-section .link-type-list {
    display: flex;

    width: 200px;
    flex-direction: column;
    gap: 10px;
}

#footer-section .links-section .link-type-list h3 {
    font-size: 25px;
}

#footer-section .links-section .link-type-list .link-content{
    transform: translateX(20px);
}

#footer-section .links-section .link-type-list .link-content li{
    margin-bottom: 5px;
}
#footer-section .links-section .link-type-list .link-content li a {
    text-decoration: none;
    color: #fff;
}
#footer-section .links-section .link-type-list .link-content li a:hover {
    text-decoration: underline;
}

#footer-section .extra-info-section {
    background-color: rgba(196, 252, 112, 0.705);
    /* flex-basis: 30%; */
}