#signup-section {
    width: 100vw;
    height: 100vh;

    padding-top: 150px;

    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#signup-section form {
    background-color: #fff;

    width: 500px;
    height: auto;
    padding: 50px 30px;
    margin-top: -100px;

    /* border: 1px solid #000; */
    /* border-radius: 2em; */
    /* box-shadow: 0px 0px 10px #000000d0; */

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
}

#signup-section form .signup-buttons-div {
    width: 75%;
    margin-top: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#signup-section form .signup-buttons-div .return-button {
    text-decoration: none;
    color: #000;
}
#signup-section form .signup-buttons-div .return-button:hover {
    text-decoration: underline;
}

#signup-section form .signup-buttons-div .submit-button {
    color: transparent;
    background-image: linear-gradient(140deg, #000, #000, #a5a5a5c7, #000, #000);
    -webkit-background-clip: text;
    background-position: -50px;

    z-index: 2;

    font-size: 20px;
    font-weight: 700;
    padding: 7px 24px;
    
    border-radius: 10px;
    border: none;

    animation: bgAnimation 5s infinite ease-in forwards;
}

#signup-section form .signup-buttons-div .submit-button:hover {
    cursor: pointer;
}

#signup-section form .signup-buttons-div .submit-button-container {
    border-radius: 10px;
    position: relative;

    overflow: hidden;

    border: 1px solid #000;

    display: flex;
    justify-content: center;
    align-items: center;
}

#signup-section form .signup-buttons-div .submit-button-container::after {
    content: "";
    position: absolute;
    left: 2.4%;
    top: 8%;

    background-color: #fff;

    width: 95%;
    height: 84%;
    border-radius: 10px;
}

#signup-section form .signup-buttons-div .submit-button-container:hover {
    border: none;
    padding: 1px;
}

#signup-section form .signup-buttons-div .submit-button-container:hover::before {
    content: "";
    position: absolute;

    background-color: #000000be;
    width: 110%;
    height: 10px;

    animation: buttonBorderRotate 4s infinite ease-in-out;
}

#signup-section form .assistant-access-link {
    align-self: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#signup-section form .assistant-access-link a {
    transform: translateX(10px);
    color: #000;
    text-decoration: none;
    font-size: 13px;
}

#signup-section form .assistant-access-link a:hover {
    text-decoration: underline;
}

@keyframes bgAnimation {
    0% {
        background-position: -50px;
    }
    50%{
        background-position: 0x;
    }
    100%{
        background-position: 150px;
    }
}

@keyframes buttonBorderRotate {
    from {
        rotate: 0;
    }
    to {
        rotate: 360deg;
    }
}